<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.skydelight">

    <uses-feature android:glEsVersion="0x00030000" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />
    <uses-feature
        android:name="com.google.ar.core.depth"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_skydelight"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_skydelight_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkyDelight"
        tools:replace="android:icon,android:theme">
        <activity
            android:name=".unity.UnityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
         Alternative to get api key
            <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${API_KEY}" />
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="unity.splash-mode"
            android:value="0" />
        <meta-data
            android:name="unity.splash-enable"
            android:value="True" />
        <meta-data
            android:name="unity.launch-fullscreen"
            android:value="True" />
        <meta-data
            android:name="unity.allow-resizable-window"
            android:value="False" />
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="unityplayer.SkipPermissionsDialog"
            android:value="true" />
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>